# Please duplicate to .env and update key
REACT_APP_API_BASE_SERIES_URL='https://api.themoviedb.org/3/tv'
REACT_APP_API_BASE_MOVIES_URL='https://api.themoviedb.org/3/movie'
REACT_APP_API_BASE_URL_SEARCH='https://api.themoviedb.org/3/search/multi'
REACT_APP_API_KEY='1234567890abcdefg'
REACT_APP_API_LANGUAGE='de-DE'